################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WMSTemplate/.vs/WMSTemplate/v15/Server/sqlite3/storage.ide-wal
/WMSTemplate/.vs/WMSTemplate/v15/Server/sqlite3/storage.ide-shm
/WMSTemplate/.vs/WMSTemplate/v15/Server/sqlite3/storage.ide
/WMSTemplate/.vs/WMSTemplate/v15/Server/sqlite3/db.lock
/WMSTemplate/.vs/WMSTemplate/v15/Server/sqlite3
