<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="DB13346_WMSCommerceConnectionString1" connectionString="Data Source=.\GANJARR;Initial Catalog=DB13346_WMSCommerce;Persist Security Info=True;User ID=warmup"
            providerName="System.Data.SqlClient" />
        <add name="DB13346_WMSCommerceConnectionString" connectionString="Data Source=202.67.10.27,25000;Initial Catalog=DB13346_WMSCommerce;User ID=DB13346_WMSCommerce;Password=wmc12345*"
            providerName="System.Data.SqlClient" />
        <add name="DBWITEnterpriseSystemConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DBWITEnterpriseSystem;Persist Security Info=True;User ID=warmup"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
