<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Laporan Penjualan</title>
</head>
<body>
    <div style="color: rgb(0, 0, 0); font-family: Verdana; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0; text-transform: none; white-space: normal; widows: 2; word-spacing: 0; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0; font-size: medium;">
        <table bgcolor="#EEEEEE" border="0" cellpadding="0" cellspacing="0" style="-webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased;" width="100%">
            <tr>
                <td colspan="1" rowspan="1">
                    <table bgcolor="#2E3C47" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" colspan="1" rowspan="1" style="padding: 0 15px;">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td colspan="1" rowspan="1" style="font-family: Verdana; font-size: 21px; line-height: 25px; color: rgb(255, 255, 255); text-align: left;" width="528">Penjualan {Store} - {Tempat}</td>
                                        <td colspan="1" height="64" rowspan="1" width="22"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" colspan="1" rowspan="1">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="center" colspan="1" rowspan="1">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td colspan="1" rowspan="1" style="padding: 25px 15px 0;">
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" colspan="2" rowspan="1" style="font-family: Verdana; font-weight: 600; color: rgb(74, 179, 79); font-size: 42px; line-height: 42px;"><span shape="rect" style="text-decoration: none; color: rgb(74, 179, 79);">{GrandTotal}</span></td>
                                                            </tr>
                                                            <tr valign="top">
                                                                <td align="center" colspan="2" rowspan="1" style="font-family: Verdana; font-size: 21px; line-height: 26px; color: rgb(121, 126, 130); padding-bottom: 23px;" valign="top"><span>&nbsp;</span><span style="white-space: nowrap;">{TanggalLaporan}</span></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" colspan="1" rowspan="1">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="center" colspan="1" rowspan="1">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" colspan="1" height="40" rowspan="1" valign="top" width="580">
                                                        <div>
                                                            <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td colspan="1" rowspan="1" style="background-color: rgb(255, 255, 255); padding: 0 16px; font-family: Verdana; font-size: 21px; line-height: 21px; height: 40px; color: rgb(61, 69, 76); text-align: center; background-position: initial initial; background-repeat: initial initial;">Penjualan</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" colspan="1" rowspan="1">
                                            <table border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 16px; line-height: 24px; color: rgb(61, 69, 76); text-align: left; padding: 0 15px;">
                                                <tr>
                                                    <td align="left" colspan="1" rowspan="1" width="275">Gross Sales</td>
                                                    <td align="right" colspan="1" height="40" rowspan="1" width="275">XXXXX</td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#EBECED" colspan="2" height="1" rowspan="1" style="font-size: 0; line-height: 0;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" colspan="1" height="40" rowspan="1">Discounts</td>
                                                    <td align="right" colspan="1" rowspan="1">XXXXX</td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#EBECED" colspan="2" height="1" rowspan="1" style="font-size: 0; line-height: 0;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" colspan="1" height="40" rowspan="1">Tax</td>
                                                    <td align="right" colspan="1" rowspan="1">XXXXX</td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#EBECED" colspan="2" height="1" rowspan="1" style="font-size: 0; line-height: 0;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" colspan="1" height="40" rowspan="1">Tip</td>
                                                    <td align="right" colspan="1" rowspan="1">XXXXX</td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#EBECED" colspan="2" height="1" rowspan="1" style="font-size: 0; line-height: 0;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" colspan="1" height="40" rowspan="1" style="font-weight: 600;">Total Collected</td>
                                                    <td align="right" colspan="1" rowspan="1" style="font-weight: 600;">XXXXX</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" colspan="1" rowspan="1">
                                <table align="center" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="center" colspan="1" rowspan="1" style="padding: 0 0 9px;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" colspan="1" height="40" rowspan="1" valign="top" width="580">
                                                        <div>
                                                            <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td colspan="1" rowspan="1" style="background-color: rgb(255, 255, 255); padding: 0 16px; font-family:Verdana; font-size: 21px; line-height: 21px; height: 40px; color: rgb(61, 69, 76); text-align: center; background-position: initial initial; background-repeat: initial initial;">Per-Jam</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" colspan="1" rowspan="1" style="padding: 0 0 30px;">
                                            <table bgcolor="#2597CE" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td colspan="1" rowspan="1" width="80">
                                                        <table bgcolor="#2597CE" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td align="left" colspan="1" height="42" rowspan="1" style="font-family: Verdana; font-size: 14px; line-height: 18px; font-weight: 600; color: rgb(255, 255, 255); white-space: nowrap; padding: 0 15px;" width="100%">8PM</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td align="left" bgcolor="#FFFFFF" colspan="1" rowspan="1" width="500">
                                                        <table bgcolor="#2597CE" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td align="right" colspan="1" height="42" rowspan="1" style="font-family: Verdana; font-size: 14px; line-height: 18px; font-weight: 600; color: rgb(255, 255, 255); white-space: nowrap; padding: 0 15px;" width="100%">XXXXX</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF" colspan="2" height="1" rowspan="1" style="font-size: 0; line-height: 0;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1" rowspan="1" width="80">
                                                        <table bgcolor="#2597CE" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td align="left" colspan="1" height="42" rowspan="1" style="font-family: Verdana; font-size: 14px; line-height: 18px; font-weight: 600; color: rgb(255, 255, 255); white-space: nowrap; padding: 0 15px;" width="100%">8PM</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td align="left" bgcolor="#FFFFFF" colspan="1" rowspan="1" width="500">
                                                        <table bgcolor="#2597CE" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td align="right" colspan="1" height="42" rowspan="1" style="font-family: Verdana; font-size: 14px; line-height: 18px; font-weight: 600; color: rgb(255, 255, 255); white-space: nowrap; padding: 0 15px;" width="100%">XXXXX</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" colspan="1" rowspan="1">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="center" colspan="1" rowspan="1" style="padding: 0 0 9px;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" colspan="1" height="40" rowspan="1" valign="top" width="580">
                                                        <div>
                                                            <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td colspan="1" rowspan="1" style="background-color: rgb(255, 255, 255); padding: 0 16px; font-family: Verdana; font-size: 21px; line-height: 21px; height: 40px; color: rgb(61, 69, 76); text-align: center; background-position: initial initial; background-repeat: initial initial;">Top Items</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="1" rowspan="1">
                                            <table border="0" cellpadding="0" cellspacing="0" style="padding: 0 15px;">
                                                <tr>
                                                    <td colspan="1" rowspan="1" style="text-align: center;">
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tr valign="top">
                                                                <td colspan="1" rowspan="1" style="display: inline-block; text-align: left;" valign="top">
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td colspan="1" rowspan="1" width="560">
                                                                                <table border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 16px; line-height: 24px; color: rgb(61, 69, 76); text-align: left;">
                                                                                    <tr valign="top">
                                                                                        <td colspan="1" rowspan="1" valign="top">1.&nbsp;</td>
                                                                                        <td colspan="1" rowspan="1" style="padding-bottom: 15px;" valign="top">Sirloin</td>
                                                                                    </tr>
                                                                                    <tr valign="top">
                                                                                        <td colspan="1" rowspan="1" valign="top">2.&nbsp;</td>
                                                                                        <td colspan="1" rowspan="1" style="padding-bottom: 15px;" valign="top">Coca Cola</td>
                                                                                    </tr>
                                                                                    <tr valign="top">
                                                                                        <td colspan="1" rowspan="1" valign="top">3.&nbsp;</td>
                                                                                        <td colspan="1" rowspan="1" style="padding-bottom: 15px;" valign="top">Item</td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" colspan="1" rowspan="1" style="font-family: Verdana; font-size: 13px; line-height: 26px; color: rgb(95, 106, 124); text-align: center; padding: 24px 20px 0;">
                                Warehouse Management System Powered by WIT.<span>&nbsp;</span><br clear="none" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="1" rowspan="1">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr valign="top">
                                        <td colspan="1" rowspan="1" style="padding: 10px 0 30px;" valign="top"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
